/*
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */

.vertical-menu {
  margin: 10px 0;
  ul {
    margin-left: 0;
    li {
      display: block;
      font-size: var(--font-size-small);
      .group {
        text-transform: uppercase;
        font-weight: 700;
        background-color: var(--navbar-default-bg);
        background-repeat: no-repeat;
        padding: 5px 30px;
        &:hover, &.current-group {
          background-color: var(--navbar-default-link-hover-bg);
          & a {
            color: var(--navbar-default-link-hover-color);
          }
        }
        a {
          color: var(--navbar-default-link-color);
        }
      }
      ul {
        margin-left: 0;
        li {
          padding: 0;
          &:first-child {
            border-radius: 0;
          }
          .current, 
          .current a, 
          .current a:hover,
          .current a:focus {
            color: var(--list-group-active-color);
            background-color: var(--list-group-active-bg);
          }
          a {
            display: block;
            padding: 5px;
            color: var(--list-group-link-color);
            &:hover,
            &:focus {
              text-decoration: none;
              background-color: var(--list-group-hover-bg);
            }
            &:before {
              margin: 0 1px;
              content: "";
            }
          }
        }
      }
    }
  }
}
